<a href="https://colab.research.google.com/github/SebastianJimenez612/SebastianJimenez612/blob/main/Modulo_1_Semana_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso de IBM Data Analysis with Python
---

Joan Sebastian Jimenez Chacón

A01793970

---

#Módulo 1

In [ ]:
print('hello python 101')

hello python 101

In [ ]:
print("Hello\nWorld!")
#salto de línea

Hello
World!

In [ ]:
x=3+2*2
y=(3+2)*2
z=x+y
z

17

In [ ]:
Numbers = "0123456"
Numbers[::2]
#sacar números pares del str

'0246'

In [ ]:
"0123456".find('1')

1

In [ ]:
type (11.02)
# type(11)

float

In [ ]:
int(1.1)
#convertir a int

1

In [ ]:
bool(1)

True

In [ ]:
25/6

4.166666666666667

In [ ]:
25//6

4

In [ ]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
3*"im trying to skipe a new line\n"

'im trying to skipe a new line\nim trying to skipe a new line\nim trying to skipe a new line\n'

In [ ]:
name="my name is Sebastian \n"
4*name

'my name is Sebastian \nmy name is Sebastian \nmy name is Sebastian \nmy name is Sebastian \n'

In [ ]:
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [ ]:
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [ ]:
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
name = "Michael Jackson"
name.find('el')

5

In [ ]:
name.find('Jack')

8

In [ ]:
name.find('Jasdfasdasdf')
#QUÉ NUM DA CON ALGO RARO?

-1

In [ ]:
e = 'clocrkr1e1c1t'
print(e[::2])
#cada 2 elementos tomar del str

correct

In [ ]:
f = "You are wrong"
print(f.upper())
#todo se puede en misma linea

YOU ARE WRONG

In [ ]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [ ]:
g.find('snow')

95

In [ ]:
g.replace('Mary','Bob')
#reemplazar en variables

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [ ]:
name = 'Lizz'
print(name[0:2])
#substring

Li

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
A=(0,1,2,3)

In [ ]:
A[-1]
#index negativo va de derecha a izquierda

3

In [ ]:
B=["a","b","c"]

In [ ]:
B[1:]
#omitir el primer dato

['b', 'c']

In [ ]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
len(genres_tuple)
#TAMAÑO DE LA MUESTRA

8

In [ ]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
B = A[:]
B

['hard rock', 10, 1.2]

In [ ]:
print('B[0]:', B[0])
A[0] = "banana"
print('A[0]:', A[0])

B[0]: hard rock
A[0]: banana

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
sum(A)==sum(B) #BOOLEAN

the sum of A is: 6
the sum of B is: 3

False

In [ ]:
D = {'a':0,'b':1,'c':2}

In [ ]:
D.values()

dict_values([0, 1, 2])

In [ ]:
D['b']

1

In [ ]:
A = ('a','b','c')
A[1]

'b'

In [ ]:
x='a'
if(x!='a'):print("This is not a.")

else: print("This is a.")

This is a.

In [ ]:
A=[3,4,5]
for a in A: print(a)

3
4
5

In [ ]:
#x=3
#y=1
#while(y<x):print(y) 
#y=y+1 #ppreguntar----

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 
    Rating = PlayListRatings[i]